<!doctype html>
<html lang="en">
  <head>
    <title>Ryan Yeske is Online</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>
    {{content | safe}}
    <script>
     document.body.innerText = 'disable javascript to view this site'
    </script>
  </body>
</html>
